.progress-area .icon-Bank-Details:before,
.progress-area .icon-hamburger:before,
.progress-area .icon-logout:before,
.progress-area .icon-Dashboard .path1:before,
.progress-area .icon-Dashboard .path2:before,
.progress-area .icon-Dashboard .path3:before,
.progress-area .icon-Dashboard .path4:before,
.progress-area .icon-Dashboard .path5:before,
.progress-area .icon-Dashboard .path6:before,
.progress-area .icon-Dashboard .path7:before,
.progress-area .icon-Milestone .path1:before,
.progress-area .icon-Milestone .path2:before,
.progress-area .icon-Milestone .path3:before,
.progress-area .icon-Milestone .path4:before,
.progress-area .icon-Notifications:before,
.progress-area .icon-Supplier .path1:before,
.progress-area .icon-Supplier .path2:before,
.progress-area .icon-Supplier .path3:before,
.progress-area .icon-Supplier .path4:before,
.progress-area .icon-Tender .path1:before,
.progress-area .icon-Tender .path2:before,
.progress-area .icon-Tender .path3:before,
.progress-area .icon-Tender .path4:before,
.progress-area .icon-Tender .path5:before,
.progress-area .icon-Tender .path6:before,
.progress-area .icon-Tender .path7:before,
.progress-area .icon-Tender .path8:before,
.progress-area .icon-Tender .path9:before,
.progress-area .fa-bell:before {
  font-size: 24px !important;
  color: #000;
}

.progress-area .icon-Supplier-Information .path1:before,
.progress-area .icon-Supplier-Information .path2:before,
.progress-area .icon-Supplier-Information .path3:before,
.progress-area .icon-Supplier-Information .path4:before,
.progress-area .icon-Address-Details .path1:before,
.progress-area .icon-Address-Details .path2:before,
.progress-area .icon-Address-Details .path3:before,
.progress-area .icon-Address-Details .path4:before,
.progress-area .icon-Address-Details .path5:before,
.progress-area .icon-Final-View:before,
.progress-area .icon-Financial--Business .path1:before,
.progress-area .icon-Financial--Business .path2:before,
.progress-area .icon-Financial--Business .path3:before,
.progress-area .icon-Financial--Business .path4:before,
.progress-area .icon-Financial--Business .path5:before,
.progress-area .icon-Financial--Business .path6:before,
.progress-area .icon-Financial--Business .path7:before,
.progress-area .icon-Financial--Business .path8:before,
.progress-area .icon-Financial--Business .path9:before,
.progress-area .icon-Financial--Business .path10:before,
.progress-area .icon-Financial--Business .path11:before,
.progress-area .icon-Financial--Business .path12:before,
.progress-area .icon-Contracts .path1:before,
.progress-area .icon-Contracts .path2:before,
.progress-area .icon-Contracts .path3:before,
.progress-area .icon-Contracts .path4:before,
.progress-area .icon-Contracts .path5:before,
.progress-area .icon-Contracts .path6:before,
.progress-area .icon-Contracts .path7:before,
.progress-area .icon-Bank-Details:before,
.progress-area .icon-Attachment-Section .path1:before,
.progress-area .icon-Attachment-Section .path2:before,
.progress-area .icon-Attachment-Section .path3:before,
.progress-area .icon-Category--Scope:before,
.progress-area .icon-Preview:before,
.progress-area .icon-Supplier-Registration:before {
  font-size: 24px !important;
  color: #fff;
}

.panel-default .icon-Address-Details .path1:before,
.panel-default .icon-Address-Details .path2:before,
.panel-default .icon-Address-Details .path3:before,
.panel-default .icon-Address-Details .path4:before,
.panel-default .icon-Address-Details .path5:before,
.panel-default .icon-Attachment-Section .path1:before,
.panel-default .icon-Attachment-Section .path2:before,
.panel-default .icon-Attachment-Section .path3:before,
.panel-default .icon-Bank-Details:before,
.panel-default .icon-Category--Scope:before,
.panel-default .icon-Contact-Details:before,
.panel-default .icon-Final-View:before,
.panel-default .icon-Financial--Business .path1:before,
.panel-default .icon-Financial--Business .path2:before,
.panel-default .icon-Financial--Business .path3:before,
.panel-default .icon-Financial--Business .path4:before,
.panel-default .icon-Financial--Business .path5:before,
.panel-default .icon-Financial--Business .path6:before,
.panel-default .icon-Financial--Business .path7:before,
.panel-default .icon-Financial--Business .path8:before,
.panel-default .icon-Financial--Business .path9:before,
.panel-default .icon-Financial--Business .path10:before,
.panel-default .icon-Financial--Business .path11:before,
.panel-default .icon-Financial--Business .path12:before,
.panel-default .icon-Supplier-Information .path1:before,
.panel-default .icon-Supplier-Information .path2:before,
.panel-default .icon-Supplier-Information .path3:before,
.panel-default .icon-Supplier-Information .path4:before,
.panel-default .icon-contact-us:before,
.panel-default .icon-hamburger:before,
.panel-default .icon-logout:before,
.panel-default .icon-Contract:before,
.panel-default .icon-Dashboard .path1:before,
.panel-default .icon-Dashboard .path2:before,
.panel-default .icon-Dashboard .path3:before,
.panel-default .icon-Dashboard .path4:before,
.panel-default .icon-Dashboard .path5:before,
.panel-default .icon-Dashboard .path6:before,
.panel-default .icon-Dashboard .path7:before,
.panel-default .icon-Milestone .path1:before,
.panel-default .icon-Milestone .path2:before,
.panel-default .icon-Milestone .path3:before,
.panel-default .icon-Milestone .path4:before,
.panel-default .icon-Notifications:before,
.panel-default .icon-Supplier .path1:before,
.panel-default .icon-Supplier .path2:before,
.panel-default .icon-Supplier .path3:before,
.panel-default .icon-Supplier .path4:before,
.panel-default .icon-Tender .path1:before,
.panel-default .icon-Tender .path2:before,
.panel-default .icon-Tender .path3:before,
.panel-default .icon-Tender .path4:before,
.panel-default .icon-Tender .path5:before,
.panel-default .icon-Tender .path6:before,
.panel-default .icon-Tender .path7:before,
.panel-default .icon-Tender .path8:before,
.panel-default .icon-Tender .path9:before,
.panel-default .fa-bell:before,
.panel-default .icon-Preview:before,
.panel-default .icon-Supplier-Information .path1:before,
.panel-default .icon-Supplier-Information .path2:before,
.panel-default .icon-Supplier-Information .path3:before,
.panel-default .icon-Supplier-Information .path4:before,
.panel-default .icon-Contracts .path1:before,
.panel-default .icon-Contracts .path2:before,
.panel-default .icon-Contracts .path3:before,
.panel-default .icon-Contracts .path4:before,
.panel-default .icon-Contracts .path5:before,
.panel-default .icon-Contracts .path6:before,
.panel-default .icon-Contracts .path7:before,
.panel-default .icon-Supplier-Registration:before {
  font-size: 24px !important;
  color: #5eac9c !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.is_disabled {
  cursor: default;
  text-decoration: none;
  background-color: lightgray;
  color: gray;
}

.is_active {
  background-color: lightblue;
}
/*# sourceMappingURL=preview.component.css.map */