
   

      <div class="d-flex table-area">
        <div class="table-responsive">
    <form>
  
      <table class="table table-striped">
        <thead>      
            <tr>
              <th >{{'S.No' | translate}}</th>
              <th >{{'Summary' | translate}}</th>
              <th >{{'Milestone Description' | translate}}</th>
              <th >{{'Units of Measure' | translate}}</th>
              <th >{{'Quantity' | translate}}</th>             
              <th >{{'Rate' | translate}}</th>
              <th >{{'Total Value' | translate}}</th>
              <th >{{'Total Submitted' | translate}}</th>
              <th >{{'Total Processed' | translate}}</th>
            </tr>
          
          <tr *ngFor="let boqDtl of boqDtlList">
            <td [attr.data-title]="'S.No' | translate">{{boqDtl.lineNo}}</td>        
          <td [attr.data-title]="'Summary' | translate">{{ boqDtl.summary }}</td>
          <td [attr.data-title]="'Milestone Description' | translate">{{ boqDtl.description }}</td>
          <td [attr.data-title]="'Units of Measure' | translate">{{ boqDtl.unitOfMeasureName }}</td>
          <td [attr.data-title]="'Quantity' | translate">{{ boqDtl.quantity }}</td>
          <td [attr.data-title]="'Rate' | translate">{{ boqDtl.rate }}</td>
          <td [attr.data-title]="'Total Value' | translate" align="right">{{ boqDtl.totalValue | mask: 'separator':',' }}.00</td>
          <td [attr.data-title]="'Total Submitted' | translate">{{ boqDtl.rate }}</td>
          <td [attr.data-title]="'Total Processed' | translate" align="right">{{ boqDtl.totalValue | mask: 'separator':',' }}.00</td>
        </tr>
        </thead>
      </table>
    
    </form>
</div>
</div>