h1{
    color: #00a1e4 !important;
    font-size: 18px;
    font-weight: 700;
}
.breadcrumb-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.expand-collapse {
    display: none !important;
}