   <!-- --------------------- progress bar --------------------- -->

    <app-tender-progress-bar [tabName]="tabName"></app-tender-progress-bar>
    <!-- --------------- Alert area ---------------- -->
    <!-- --------------- breadcrumb ---------------- -->

    <div class="d-flex">
      <div class="col-sm-6 pr-0 pl-0 ">
        <nav aria-label="breadcrumb" id="breadcrumb">
          <ol class="breadcrumb pl-0 mt-0">
            <li class="breadcrumb-item active" aria-current="page">{{'Tender Submission' | translate}}</li>
          </ol>
        </nav>
      </div>
      <div class="col-xl-4 pr-0 pl-0 pt-2">
        <div class="pagination-area expand-collapse align-vertical">
          <div class="d-flex pull-right ">
            <span class="mr-auto">&nbsp;</span>
            <button *ngIf="((tenderDetails?.tenderMaster?.referenceNumber == '' || tenderDetails?.tenderMaster?.referenceNumber == null ) && tenderDetails?.tenderMaster?.tender_status != 8023 && tenderDetails?.tenderMaster?.dateCheckFlag==true && 
          tenderDetails?.tenderMaster?.tenderSubmissionStatusId != 3001 && tenderMode == 8011) || (( tenderDetails?.tenderMaster?.referenceNumber == ''|| tenderDetails?.tenderMaster?.referenceNumber == null) && tenderDetails?.tenderMaster?.tender_status != 8023 && tenderDetails?.tenderMaster?.dateCheckFlag==true && 
          tenderDetails?.tenderMaster?.tenderSubmissionStatusId != 3001 && isPrequalified == true 
          &&  isScopeOne == true && isInvited == true && tenderMode == 8012)" type="submit" (click)="createResponse('Please Subscribe before creating Response Reference Number',
          'Information','Ok','Exceeded the Maximum no. of response creation')" class="page-link save"> {{'CREATE
              RESPONSE' | translate}} </button>
            <button
              *ngIf="(tenderDetails?.tenderMaster?.tender_status != 8023 && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != 3001 && isPrequalified == true && isScopeOne == false && tenderMode == 8012  && tenderDetails?.tenderMaster?.referenceNumber == null)"
              type="submit" data-toggle="modal" data-target="#receipt" class="page-link save"> {{'CREATE RESPONSE' |
              translate}} </button>
            <button
              *ngIf="(tenderDetails?.tenderMaster?.tender_status != 8023 && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != 3001 && isPrequalified == false && isScopeOne == false && tenderMode == 8012 && tenderDetails?.tenderMaster?.referenceNumber == null)"
              type="submit" data-toggle="modal" data-target="#receipt" class="page-link save"> {{'CREATE RESPONSE' |
              translate}} </button>
            <button
              *ngIf="(tenderDetails?.tenderMaster?.tender_status != 8023 && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != 3001 && isPrequalified == true && isScopeOne == true && tenderMode == 8012 && isInvited == false  && tenderDetails?.tenderMaster?.referenceNumber == null)"
              type="submit" data-toggle="modal" data-target="#receipt" class="page-link save"> {{'CREATE RESPONSE' |
              translate}} </button>

            <span
              *ngIf="tenderDetails?.tenderMaster?.referenceNumber != null && tenderDetails?.tenderMaster?.referenceNumber !='' && (altProp==0 ||altProp=='0')"
              class="ft-size12"><strong>{{'Reference Number' | translate}}:
                {{tenderDetails?.tenderMaster?.referenceNumber}}</strong></span>


            <!--&& propFirst==true removed this from the below line .. was present in the RTA Project ...-->
            <span *ngIf="tenderDetails?.tenderMaster?.referenceNumber != null && (altProp==1 ||altProp=='1') "
              class="ft-size12"><strong>{{'Reference Number' | translate}}:
                {{tenderDetails?.tenderMaster?.referenceNumber}}</strong></span>

            <!--&& propFirst==false removed this from the below line .. was present in the RTA Project ...-->
            <span *ngIf="tenderDetails?.tenderMaster?.referenceNumber != null && (altProp==1 ||altProp=='1') "
              class="ft-size12"><strong>{{'Reference Number' | translate}}:
                {{tenderDetails?.tenderMaster?.referenceNumber}}</strong></span>

          </div>
        </div>
      </div>
      <div class="col-xl-2 pr-0 pl-0 pt-2">
        <div class="expand-collapse">
          <app-collapse-expand-btn class="pull-right"></app-collapse-expand-btn>
        </div>
      </div>
    </div>




    <div class="panel-group " id="accordion">

      <!-----------------  Bus on Demand  ------------------------------ -->
      <!-- <div class="panel-default"> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row">
              <div class="col-sm-12">
                <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                  style="text-decoration: none;">
                  <span> {{'Tender Submission' | translate}}</span>
                </a>
              </div>
            </div>

          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in show">
          <div class="panel-body panel-body1 p-3">
            <div id="no-more-tables">
              <app-tender-submission-detail [tenderMaster]="tenderDetails?.tenderMaster"></app-tender-submission-detail>
            </div>
          </div>
        </div>
      </div>

      <!-----------------  Technical Assessment of Building Life Cycle Expectancy  ------------------------------ -->
      <!-- <div class="panel-default"> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row">

              <div class="col-sm-12">
                <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                  style="text-decoration: none;">
                  <span> {{'Mandatory Document' | translate}}</span>
                </a>
              </div>
            </div>

          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in show">
          <div class="panel-body panel-body1 p-3">
            <div class="table-responsive">
              <app-mandatory-documents [altProp]="altProp" [tenderMode]="tenderMode" [isInvited]="isInvited"
                [isPrequalified]="isPrequalified" [isScopeOne]="isScopeOne" [tenderDtls]="tenderDetails">
              </app-mandatory-documents>
            </div>
          </div>
        </div>
      </div>

      <!-----------------  Traffic Engineering System  ------------------------------ -->
      <!-- <div class="panel-default"> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row">

              <div class="col-sm-12">
                <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                  style="text-decoration: none;">
                  <span> {{'BOQ Details' | translate}}</span>
                </a>
              </div>
            </div>

          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse in show">
          <div class="panel-body panel-body1 p-3">
            <div class="table-responsive" *ngIf="tenderDetails">
              <app-boq-details [tenderDtls]="tenderDetails" [boqProjectCost]="tenderDetails.boqProjectCost"
                [boqDetailsList]="tenderDetails.boqDetailsList"></app-boq-details>
              <!-- <app-boq-details [tenderDtls]="tenderDetails"></app-boq-details> -->
            </div>
          </div>
        </div>
      </div>
      <!----------------- Expo TVM and TOM  ------------------------------ -->
      <!-- <div class="panel-default"> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row">
              <div class="col-sm-12">
                <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                  style="text-decoration: none;">
                  <span> {{'Optional Document' | translate}}</span>
                </a>
              </div>
            </div>

          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse in show">
          <div class="panel-body panel-body1 pl-3 pr-3 pt-3">
            <div class="d-flex table-area mt-3">
              <div class="table-responsive table-box">
              <app-optional-documents [altProp]="altProp" [tenderMode]="tenderMode" [isInvited]="isInvited"
                [isPrequalified]="isPrequalified" [isScopeOne]="isScopeOne" [tenderDtls]="tenderDetails">
              </app-optional-documents>
            </div>
            </div>
          </div>
          <div class="panel-body panel-body1 pl-3 pr-3 pt-3">
         
    <div class="d-flex table-area mt-3">
      <div class="table-responsive table-box">
              <app-tender-submission-optional-documents [altProp]="altProp" [tenderMode]="tenderMode"
                [isInvited]="isInvited" [isPrequalified]="isPrequalified" [isScopeOne]="isScopeOne"
                [tenderDtls]="tenderDetails"></app-tender-submission-optional-documents>
            </div>
          </div>
          </div>
        </div>
      </div>



    </div>
    <section id="pagination" class="pagination-area mb-5">
      <div class="d-flex">
        <span class="mr-auto">&nbsp;</span>
          <button type="submit" data-toggle="modal" data-target="#receipt" class="page-link save btn-space-left">
            {{'RECEIPT' | translate}} </button>
          <!-- <button  type="submit"   class="page-link save ml-3 "> FINAL SUBMISSION </button> -->
          <!--button final submit conditional code starts here -->
          <button type="submit" class="page-link save ml-3 "
            *ngIf="(tenderDetails?.tenderMaster?.tender_status != '8023' && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != '3001' && isPrequalified == true && isScopeOne == true && isInvited == true && tenderMode == 8012)
      || (tenderDetails?.tenderMaster?.tender_status != '8023' && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != '3001' && tenderMode == 8011)"
            id="finalSubm" (click)="finalSubmCheck(tenderDetails.mandDocUploadCheck,tenderDetails.boqDeatilsCheck,tenderDetails.bidBondCheck,tenderDetails.tenderMaster.referenceNumber,
      tenderDetails.tenderMaster.rfpType,tenderDetails.tenderMaster.pymtTxnId,tenderDetails.tenderMaster.rfpPymtStatus,
      'Please generate Response Reference Number before Submitting the Tender',
      'Mandatory Documents are yet to upload to submit the tender',
      'BOQ Details are mandatory.Rate Column as 0 is not accepted',
      'Bid Bond Details are mandatory',      
      'Information',
      'Ok',
      'Please complete RFP Payment before proceeding with Proposal Submission'
      
      )">
            {{'FINAL SUBMISSION' | translate}}</button>
          <button type="submit" class="page-link save ml-3"
            *ngIf="(tenderDetails?.tenderMaster?.tender_status != '8023' && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != '3001' && isPrequalified == true && isScopeOne == false && tenderMode == 8012)"
            data-target="#showPopup2" data-toggle="modal">
            {{'FINAL SUBMISSION' | translate}}
          </button>

          <button type="submit" class="page-link save ml-3"
            *ngIf="(isPrequalified == false && isScopeOne == false && tenderMode == 8012 && tenderDetails?.tenderMaster?.tender_status != '8023' && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != '3001')"
            data-target="#showPopup3" data-toggle="modal"> {{'FINAL SUBMISSION' | translate}}</button>
          <button type="submit" class="page-link save ml-3"
            *ngIf="(tenderDetails?.tenderMaster?.tender_status != '8023' && tenderDetails?.tenderMaster?.dateCheckFlag==true && tenderDetails?.tenderMaster?.tenderSubmissionStatusId != '3001' && isPrequalified == true && isScopeOne == true && isInvited == false && tenderMode == 8012)"
            data-target="#showPopup4" data-toggle="modal"> {{'FINAL SUBMISSION' | translate}}</button>


          <!--button final submit code ends here -->







          <a routerLink="/public-tenders"><button type="submit" class="clear-btn pt-2 pb-2  ml-3"> {{'BACK' |
              translate}} </button></a>
    
      </div>
    </section>

  <!-- <app-model-window></app-model-window>  -->
  <app-tender-submission-modal></app-tender-submission-modal>
  <ng-template #tenderSubmissionAlert let-modal>
    <!-- <div class="modal fade" id="tenderAlert" tabindex="-1" role="dialog" aria-labelledby="tenderAlertTitle" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content"> -->
    <div class="modal-header">
      <h5 class="modal-title" id="tenderAlertTitle"> {{'Information' | translate}}</h5>
    </div>
    <div class="modal-body">
      <span *ngIf="bidbondManMsgShow">
        {{'Bid Bond Details are mandatory'|translate}}
      </span>
      <span *ngIf="boqManMsgShow">
        {{ 'BOQ Details are mandatory.Rate Column as 0 is not accepted'|translate}}
      </span>
      <span *ngIf="manDocValiMsgShow">
        {{'Mandatory Documents are yet to upload to submit the tender' |translate}}
      </span>
      <span *ngIf="payErrMsgShow">
        {{'Please complete RFP Payment before proceeding with Proposal Submission'|translate}}
      </span>
      <span *ngIf="createresvalidationmsgShow">
        {{'Please generate Response Reference Number before Submitting the Tender'|translate}}
      </span>
      <span *ngIf="beforeFinalSubalertMsgShow">
        {{ 'You are not allowed to make any changes after Final Submission. Please confirm to proceed'|translate}}
      </span>
      <span *ngIf="tenderSubmExpiredMsgShow">
        {{ 'Tender Submission Closed'|translate}}
      </span>
      <span *ngIf="tenderFinalSubmitRefNoMsgShow">
        {{ 'You have successfully completed the Tender Submission! Reference no '|translate}}
        {{tenderDetails?.tenderMaster?.referenceNumber}}
        {{' can be used for further communication'|translate}}
      </span>
    </div>
    <div class="modal-footer">
      <button (click)="tenderSubmissionAlertOkClick()" aria-label="Close" type="submit" class="clear-btn ml-3"> {{'Ok' |
        translate}} </button>
    </div>

    <!-- </div>
    </div>
</div> -->
  </ng-template>
