<table class="table  table-align-left">
    <tbody>
        <tr class="border-bottom">
            <td class="tendertable ">
                <span> {{'Tender Number' | translate}}</span> <br>
                <strong>{{postQueriesTenderDtls?.tender_no}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Tender Name' | translate}}</span> <br>
                <strong>{{postQueriesTenderDtls?.tender_name}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Last date for Raising Queries' | translate}}</span> <br>
                <strong>{{postQueriesTenderDtls?.queryDeadLineDate}}</strong>
            </td>
        </tr>        
    </tbody>
</table>  
