@import "../../../assets/scss/variables.scss";


.menu-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .menu-item{
        background: #fff;
        display: flex;
        justify-content: center;
        width: 200px;
        height: 180px;
        margin: 25px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        box-sizing: border-box;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        //border: 5px solid white;
        &:hover{
            background: #02b993;
            transform: scale(1.2);
            transition: all 150ms ease-in-out;
            .icon-Supplier-Registration:before,
            .icon-Supplier-Pre-Qualification:before,
            .icon-Tender-Management:before,
            .icon-Contract-Management .path1:before,
            .icon-Contract-Management .path2:before,
            .icon-Contract-Management .path3:before,
            .icon-Contract-Management .path4:before,
            .icon-Contract-Management .path5:before,
            .icon-Contract-Management .path6:before,
            .icon-Contract-Management .path7:before,
            .icon-Milestone-Completion:before,
            .icon-Dashboard .path1:before,
            .icon-Dashboard .path2:before,
            .icon-Dashboard .path3:before,
            .icon-Dashboard .path4:before,
            .icon-Dashboard .path5:before,
            .icon-Dashboard .path16:before,
            .icon-Dashboard .path7:before,        
            .icon-Notifications1 .path1:before,
            .icon-Notifications1 .path2:before,
            .icon-Notifications1 .path3:before,
            .icon-Notifications1 .path4:before,
            .icon-Notifications1 .path5:before,
            .icon-Notifications1 .path6:before,
            .icon-Invoice--Payments:before      
            {
            color: #fff !important ;
            }
            .menu-name {
                color: white;
            }
        }
       
    }
    .icon-container {
        display: block;
        text-align: center;
        margin-top: 50px;
        width: 100%;
        .icon-Supplier-Registration:before,
        .icon-Supplier-Pre-Qualification:before,
        .icon-Tender-Management:before,
        .icon-Contract-Management .path1:before,
        .icon-Contract-Management .path2:before,
        .icon-Contract-Management .path3:before,
        .icon-Contract-Management .path4:before,
        .icon-Contract-Management .path5:before,
        .icon-Contract-Management .path6:before,
        .icon-Contract-Management .path7:before,
        .icon-Milestone-Completion:before,
        .icon-Dashboard .path1:before,
        .icon-Dashboard .path2:before,
        .icon-Dashboard .path3:before,
        .icon-Dashboard .path4:before,
        .icon-Dashboard .path5:before,
        .icon-Dashboard .path6:before,
        .icon-Dashboard .path7:before,        
        .icon-Notifications1 .path1:before,
        .icon-Notifications1 .path2:before,
        .icon-Notifications1 .path3:before,
        .icon-Notifications1 .path4:before,
        .icon-Notifications1 .path5:before,
        .icon-Notifications1 .path6:before,
        .icon-Invoice--Payments:before      
         {
           color: #02b993 !important ;
           font-size: 40px;
        }
    }
    .menu-name {
        font-size: 14px ;
        line-height:18px;
        color:#898989 ;
        padding: 10px 35px;
        &:hover {
            color: white; 
        }
    }
    a:hover {
        text-decoration: none !important;
        color: white;
    }
  }
  
 

 
