<table class="table  table-align-left">
    <tbody>
        <tr class="border-bottom">
            <td class="tendertable " >
                <span>{{'Published Date' | translate}}</span> <br>
                <strong>13-MAY-2020 00:00:00</strong>
            </td>
            <td class="tendertable " >
                <span>	{{'Last date for Raising Queries' | translate}}</span> <br>
                <strong>23-JUN-2020 00:00:00</strong>
            </td>
            <td class="tendertable " >
                <span>	{{'Technical proposal opening date' | translate}}</span> <br>
                <strong>	
                    23-JUN-2020 00:00:00</strong>
            </td>
            <td class="tendertable " >
                <span>{{'Pre Bid Meeting date' | translate}}</span> <br>
                <strong>	
                    	
NA
                </strong>
            </td>
          
        </tr>     
        
        <tr class="border-bottom">
            <td class="tendertable " >
                <span>{{'Submission Due Date' | translate}}</span> <br>
                <strong>13-MAY-2020 00:00:00</strong>
            </td>
            <td class="tendertable " >
                <span>{{'Last date for Query response' | translate}}</span> <br>
                <strong>23-JUN-2020 00:00:00</strong>
            </td>
            <td class="tendertable " >
                <span>{{'Financial proposal opening date' | translate}}</span> <br>
                <strong>	
                    23-JUN-2020 00:00:00</strong>
            </td>
            <td class="tendertable " >
                <span></span> <br>
                <strong></strong>
            </td>
        </tr>  
    </tbody>
</table>  
