
    <div class="col-sm-12 ">
      <div class="row">
    <div class="col-sm-6 pr-0 pl-0 ">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <ol class="breadcrumb pl-0 mt-0">
          <li class="breadcrumb-item active" aria-current="page">{{'Claim Search' | translate}}</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-6 pr-0 pl-0 pt-2 expand-collapse"> 
      <div class="col-xl-12 pr-0 pull-right">
        <button type="button" class="clear-btn pull-right ml-3 mr-3">{{'CLEAR ALL FILTER' | translate}}</button>
        <a routerLink="/claim-contract-search" ><button type="button"
            class="save-btn pull-right">{{'CREATE NEW' | translate}}
          </button></a>
      </div>
    </div>
  </div>
</div>

<div class="d-flex table-area">
  <div class="table-responsive table-box">

 


      <form>
        <!-- <div class="form-group form-inline d-flex">
      <div class="mr-auto">
        Global Search: 
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      </div>
      
        <a routerLink="/contract-search" class="mr-2"><button type="button" class="btn btn-primary">Create New</button></a>
        <a routerLink="/contract-search">Clear Filter</a>
    </div> -->

        <table class="table table-striped" id="claimSearchTable">
          <thead>
            <tr>
              <th  (click)="sortTable(0)">
                {{'Claim Number' | translate}}#<img class="pl-2" src="assets/img/filter-icon.png"></th>
              <th  (click)="sortTable(1)">
                {{'Claim Description' | translate}}<img class="pl-2" src="assets/img/filter-icon.png"></th>
              <th  (click)="sortTable(2)">
                {{'Revision Numner' | translate}}<img class="pl-2" src="assets/img/filter-icon.png"></th>
              <th  (click)="sortTable(3)">
                {{'Contract Numner' | translate}}<img class="pl-2" src="assets/img/filter-icon.png"></th>
              <th  (click)="sortTable(4)">
                {{'Contract Description' | translate}}<img class="pl-2" src="assets/img/filter-icon.png"></th>
              <th  (click)="sortTable(5)">
                {{'Claim Amount' | translate}}<img class="pl-2" src="assets/img/filter-icon.png"></th>
              <th  (click)="sortTable(6)">
                {{'Claim Raised Date' | translate}}<img class="pl-2" src="assets/img/filter-icon.png"></th>
            </tr>

            <!-- <tr class="form-container form-group">
              <th class="pr-3"><input type="text" class="form-control" id="Address" placeholder="Claim Number"></th>
              <th class="pr-3"><input type="text" class="form-control" id="Address" placeholder="Claim Description">
              </th>
              <th class="pr-3"><input type="text" class="form-control" id="Address" placeholder="Revision Number"></th>
              <th class="pr-3"><input type="text" class="form-control" id="Address" placeholder="Claim Description">
              </th>
              <th class="pr-3"><input type="text" class="form-control" id="Address" placeholder="Contract Description">
              </th>
              <th class="pr-3"><input type="text" class="form-control" id="Address" placeholder="Claim Amount"></th>
              <th class="pr-3"><input type="text" class="form-control" id="Address" placeholder="Claim Raised Date">
              </th>
            </tr> -->
          </thead>
          <tbody>

            <tr *ngFor="let claimList of claimSearchDetails">
              <td [attr.data-title]="'Claim Number' | translate" ><a (click)="getClaimDetails(claimList)"
                  routerLink="/claim-edit">{{ claimList.claimNumber }}</a>
              </td>
              <td [attr.data-title]="'Claim Description' | translate">{{ claimList.claimDesc}}
              </td>
              <td [attr.data-title]="'Revision Numner' | translate"> {{ claimList.revisionNo}}</td>
              <td [attr.data-title]="'Contract Numner' | translate"> {{ claimList.contractNumber}} </td>
              <td [attr.data-title]="'Contract Description' | translate">{{ claimList.contractDesc }}</td>
              <td [attr.data-title]="'Claim Amount' | translate" align="right">{{ claimList.claimAmount  | mask: 'separator':',' }}.00</td>
              <td [attr.data-title]="'Claim Raised Date' | translate">{{ claimList.claimRaisedDate}}</td>

            </tr>
          </tbody>
        </table>

        <!-- <div class="d-flex justify-content-between p-2">
          <app-pagination-record-count></app-pagination-record-count>
          <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>
        </div> -->
        <div class="d-flex table-area mt-5">
          <div class="table-responsive table-box">

            <div *ngIf="masterData.length>0" class="d-flex justify-content-between p-2">
              <app-pagination-record-count (selectedGridCount)="selectedGridCountChange($event)" [totalRec]="totalRecordsCount">
              </app-pagination-record-count>
              <!-- <app-pagination></app-pagination> -->
              <app-pagination *ngIf="totalRecordsCount" [totalRecords]="totalRecordsCount" [recordsPerPage]="recCount"
                (onPageChange)="displayActivePage($event)">
              </app-pagination>
            </div>
          </div>
        </div>
      </form>
