<div class="modal fade" id="showPopup2" tabindex="-1" role="dialog" aria-labelledby="titlePopup2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{'Information' | translate}}</div>
        </div>
        <div class="modal-body">
          <span>{{'mesg1' | translate}}</span><br><br>
          <span>{{'mesg2' | translate}}</span><br><br>
          <span>{{'mesg3' | translate}}</span>
        </div>
        <div class="modal-footer">
            <button  data-dismiss="modal" aria-label="Close"  type="submit" class="clear-btn ml-3"> {{'Ok' | translate}} </button>
        </div>
        
    </div>
    </div>
</div>
<div class="modal fade table-model" id="showPopup3" tabindex="-1" role="dialog" aria-labelledby="titlePopup3" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{'Information' | translate}}</div>
        </div>
        <div class="modal-body">
          <span>{{'mesg8' | translate}}</span><br><br>
          <span>{{'mesg9' | translate}}</span><br><br>
          <span>{{'mesg10' | translate}}</span>
        </div>
        <div class="modal-footer">
            <button  data-dismiss="modal" aria-label="Close"  type="submit" class="clear-btn ml-3"> {{'Ok' | translate}} </button>
        </div>
    </div>
    </div>
</div>
<div class="modal fade table-model" id="showPopup4" tabindex="-1" role="dialog" aria-labelledby="titlePopup4" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{'Information' | translate}}</div>
        </div>
        <div class="modal-body">
          <span>{{'mesg4' | translate}}</span>
          <br><br>
          <span>{{'mesg5' | translate}}</span>                 
        </div>
        <div class="modal-footer">
            <button  data-dismiss="modal" aria-label="Close"  type="submit" class="clear-btn ml-3"> {{'Ok' | translate}} </button>
        </div>
    </div>
    </div>
</div>