<table class="table  table-align-left">
    <tbody>
        <tr class="border-bottom">
            <td class="tendertable " colspan="2">
                <span>{{'RTA Liaison Officer' | translate}}</span> <br>
                <strong>Mansoor Hussain Musa Alzelai</strong>
            </td>
            <td class="tendertable " colspan="2">
                <span>{{'Name' | translate}}</span> <br>
                <strong>Mansoor Hussain Musa Alzelai</strong>
            </td>
            <td class="tendertable " colspan="2">
                <span>{{'Contact Number' | translate}}</span> <br>
                <strong>+971503667089</strong>
            </td>
            <td class="tendertable " colspan="2">
                <span>{{'Email id' | translate}}</span> <br>
                <strong>	
                    mansour.mousa@rta.ae
                </strong>
            </td>
         
        </tr>   
        <tr class="border-bottom">
            <td class="tendertable " colspan="2">
                <span>{{'Tender Officer' | translate}}</span> <br>
                <strong>Bashar Saleh Mahmoud Abdallah</strong>
            </td>
            <td class="tendertable " colspan="2">
                <span>{{'Name' | translate}}</span> <br>
                <strong>Mansoor Hussain Musa Alzelai</strong>
            </td>
            <td class="tendertable " colspan="2">
                <span>		{{'Contact Number' | translate}}</span> <br>
                <strong>+971503667089</strong>
            </td>
            <td class="tendertable " colspan="2">
                <span>{{'Email id' | translate}}</span> <br>
                <strong>	
                    mansour.mousa@rta.ae
                </strong>
            </td>
         
        </tr>                          
    </tbody>
</table>  
