<form>
    <div class="temp-create">


        <!-- --------------- breadcrumb ---------------- -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pl-0 mt-0">
                <li class="breadcrumb-item active" aria-current="page">{{'Template Repository' | translate}}</li>
            </ol>
        </nav>

        <!-- --------------- Alert area ---------------- -->
        <!-- <ngb-alert *ngIf="type" [type]="type" (close)="close()">{{ message }}</ngb-alert> -->

        <!-- ---------------------- Contract Template Creation ------------------------------ -->
        <div class="d-flex">
            <div class="form-container">
                <div class="col-sm-12">
                    <h1 class="pt-3">{{'Contract Template Search' | translate}}</h1>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="row row-gap">
                        <div class="col-sm-4 column-gap">
                            <div class="">
                                <input type="text" class="form-control floating-input" placeholder=" "
                                    onkeyup="this.setAttribute('value', this.value);" autocomplete="off" />
                                <span class="highlight"></span>
                                <label>{{'Template ID' | translate}}<sup>*</sup></label>
                            </div>
                        </div>
                        <div class="col-sm-4 column-gap">
                            <div class="">
                                <input type="text" class="form-control floating-input" placeholder=" "
                                    onkeyup="this.setAttribute('value', this.value);" autocomplete="off" />
                                <span class="highlight"></span>
                                <label>{{'Template Short Name' | translate}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 column-gap">
                            <div class="">
                                <input type="text" class="form-control floating-input" placeholder=" "
                                    onkeyup="this.setAttribute('value', this.value);" autocomplete="off" />
                                <span class="highlight"></span>
                                <label>{{'Template Version' | translate}}</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row row-gap">
                        <div class="col-sm-12 column-gap">
                            <div class="">
                                <input type="text" class="form-control floating-input" placeholder=" "
                                    onkeyup="this.setAttribute('value', this.value);" autocomplete="off" />
                                <span class="highlight"></span>
                                <label>{{'Template Long Name' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <section id="pagination" class="pagination-area">
                            <div class="d-flex">
                                <span class="mr-auto">&nbsp;</span>
                                <a routerLink=""><button type="submit" class="page-link save mr-4 ml-4">
                                        {{'CLEAR' | translate}} </button></a>
                                <a routerLink=""><button type="submit" class="page-link save">
                                        {{'SEARCH' | translate}} </button></a>
                            </div>
                    </section>
                </div>
            </div>
        </div>

     

        <!-- --------------------- Table area -------------------------------- -->

        <!-- --------------------- Table area -------------------------------- -->
        <div class="d-flex table-area mt-4   ">
            <div class="table-responsive table-box">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th  >{{'Template ID' | translate}}</th>
                            <th  >{{'Template Short Name' | translate}}</th>
                            <th  >{{'Start Date' | translate}}</th>
                            <th  >{{'End Date' | translate}}</th>
                            <th  >{{'Category Scope' | translate}}</th>
                            <th  >{{'Nature' | translate}}</th>
                            <th  >{{'Type' | translate}}</th>
                            <th  >{{'Created On' | translate}}</th>
                            <th  >{{'Created By' | translate}}</th>
                            <th  >{{'Approved On' | translate}}</th>
                        </tr>
                        <tr class="form-container form-group">
                            <td [attr.data-title]="'Template ID' | translate"> <input type="text" class="form-control" id="Address" placeholder="Template_01"></td>
                            <td [attr.data-title]="'Template Short Name' | translate"> <input type="text" class="form-control" id="Address" placeholder="Assest Management">
                            </td>
                            <td [attr.data-title]="'Start Date' | translate"> <input type="text" class="form-control" id="Address" placeholder="Supply of Hardware">
                            </td>
                            <td [attr.data-title]="'End Date' | translate"> <input type="text" class="form-control" id="Address" placeholder="Data Mining"></td>
                            <td [attr.data-title]="'Category Scope' | translate"> <input type="text" class="form-control" id="Address" placeholder="Guru"></td>
                            <td [attr.data-title]="'Nature' | translate"> <input type="text" class="form-control" id="Address" placeholder="01-01-2018"></td>
                            <td [attr.data-title]="'Type' | translate"> <input type="text" class="form-control" id="Address" placeholder="01-01-2018"></td>
                            <td [attr.data-title]="'Created On' | translate"> <input type="text" class="form-control" id="Address" placeholder="01-01-2018"></td>
                            <td [attr.data-title]="'Created By' | translate"> <input type="text" class="form-control" id="Address" placeholder="01-01-2018"></td>
                            <td [attr.data-title]="'Approved On' | translate"> <input type="text" class="form-control" id="Address" placeholder="01-01-2018"></td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>


                <!-- <div class="d-flex table-area mt-5">
                    <div class="table-responsive table-box">

                        <div *ngIf="masterData.length>0" class="d-flex justify-content-between p-2">
                            <app-pagination-record-count [totalRec]="totalRecordsCount" (selectedGridCount)="selectedGridCountChange($event)">
                            </app-pagination-record-count>
                            <app-pagination *ngIf="totalRecordsCount" [totalRecords]="totalRecordsCount"
                                [recordsPerPage]="recCount" (onPageChange)="displayActivePage($event)">
                            </app-pagination>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</form>