<table class="table  table-align-left mb-0">
    <tbody>
        <tr class="border-bottom">
            <td class="tendertable ">
                <span> {{'Reference Number' | translate}}</span> <br>
                <strong>{{tenderMaster?.referenceNumber}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Tender Number' | translate}}</span> <br>
                <strong>{{tenderMaster?.tender_no}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Tender Name' | translate}}</span> <br>
                <strong>{{tenderMaster?.tender_name}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Published Date' | translate}}</span> <br>
                <strong>{{tenderMaster?.tender_publish_dt}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Submission Due Date' | translate}}</span> <br>
                <strong>{{tenderMaster?.tender_submission_dt}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Submission Status' | translate}}</span> <br>
                <strong>{{tenderMaster?.tenderSubmissionStatus}}</strong>
            </td>
        </tr>        
    </tbody>
</table>  

