<table class="table  table-align-left">
    <tbody>
        <tr class="border-bottom">
            <td class="tendertable ">
                <span> {{'RTA Liaison officer' | translate}}</span> <br>
                <strong>Service</strong>
                <!-- <strong>{{tenderMaster?.liaisonOfficerName}}</strong> -->
            </td>
            <td class="tendertable ">
                <span>{{'Name' | translate}}</span> <br>
                <!-- <strong>Mohmoud Amer</strong> -->
                <strong>{{tenderContact?.liaisonOfficerName}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Contact Number' | translate}}</span> <br>
                <!-- <strong>0566 526 552</strong> -->
                <strong>{{tenderContact?.liaisonOfficerContactNumber}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Contact Email' | translate}}</span> <br>
                <!-- <strong>Mohmoud.amer@rta.ae</strong> -->
                <strong>{{tenderContact?.liaisonOfficerEmail}}</strong>
            </td>
        </tr>   
        <tr class="border-bottom">
            <td class="tendertable ">
                <span> {{'Tender officer' | translate}}</span> <br>
                <strong>Service</strong>
                <!-- <strong>{{tenderMaster?.liaisonOfficerName}}</strong> -->
            </td>
            <td class="tendertable ">
                <span>{{'Name' | translate}}</span> <br>
                <!-- <strong>Mohmoud Amer</strong> -->
                <strong>{{tenderContact?.tenderOfficerName}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Contact Number' | translate}}</span> <br>
                <!-- <strong>0566 526 552</strong> -->
                <strong>{{tenderContact?.tenderOfficerContactNumber}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Contact Email' | translate}}</span> <br>
                <!-- <strong>Mohmoud.amer@rta.ae</strong> -->
                <strong>{{tenderContact?.tenderOfficerEmail}}</strong>
            </td>
        </tr>
        <!-- <tr class="border-bottom">
            <td class="tendertable ">
                <span> {{'Contact Email' | translate}}</span> <br>
                <strong>Service</strong>
                <strong>{{tenderMaster.liaisonOfficerEmail}}</strong>
            </td>
            <td class="tendertable ">
                <span> {{'Name' | translate}}</span> <br>
                <strong>Mohmoud Amer</strong>
                <strong>{{tenderMaster?.}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Contact Number' | translate}}</span> <br>
                <strong>0566 526 552</strong>
                <strong>{{tenderMaster?.}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Contact Email' | translate}}</span> <br>
                <strong>Mohmoud?.amer@rta?.ae</strong>
                <strong>{{tenderMaster?.}}</strong>
            </td>
        </tr> -->                         
    </tbody>
</table>  
