<div class="container-fluid">
    <div class="col-sm-12 col-md-12 pt-4">
        <div class="row">
            <h1 class="ft-size18 ft-blue p-2 mr-auto">{{'Change Password' | translate}}</h1>
        </div>
    </div>
    <div class="d-flex mt-2">
      <!-- <app-add-form></app-add-form> -->
      <div class="form-container">
        <div class="col-sm-12 col-md-12 pt-4">
            <div class="row">
                <h1 class="ft-size12 ft-black p-2 pl-5 mr-auto">{{'Password Reset' | translate}}</h1>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-md-12 pl-5 pr-5 pb-2">
                <form [formGroup]="addUserForm" autocomplete="off" (ngSubmit)="addNewUser()">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="floating-label">
                                <input type="text" class="form-control floating-input" placeholder=" "
                                    onkeyup="this.setAttribute('value', this.value);" name="addUserLoginId"
                                    autocomplete="off" formControlName="addUserLoginId" />
                                <span class="highlight"></span>
                                <label>{{'Current Password' | translate}}<sup>*</sup></label>                                
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="floating-label">
                                <input type="text" class="form-control floating-input" placeholder=" "
                                    onkeyup="this.setAttribute('value', this.value);" name="addUserLoginId"
                                    autocomplete="off" formControlName="addUserLoginId" />
                                <span class="highlight"></span>
                                <label>{{'New Password' | translate}}<sup>*</sup></label>                                
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="floating-label">
                                <input type="text" class="form-control floating-input" placeholder=" "
                                    onkeyup="this.setAttribute('value', this.value);" name="addUserLoginId"
                                    autocomplete="off" formControlName="addUserLoginId" />
                                <span class="highlight"></span>
                                <label>{{'Retype New Password' | translate}}<sup>*</sup></label>                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    </div>
  
    <section id="pagination" class="pagination-area mt-3">
        <div class="d-flex">
            <span class="mr-auto">&nbsp;</span>
            <button type="submit" [disabled]="!addUserForm.valid" class="page-link save mr-3"> {{'SAVE' | translate}}</button>
            <button type="button" class="page-link save mr-3" (click)="addUserForm.reset()"> {{'RESET' | translate}}</button>
        </div>
    </section>

    <!-- <p>
        Form Status: {{ addUserForm.status }}
    </p> -->
</div>