<div class="main-block contact-us-block">
    <div class="justify-content-center">
        <div class="form-container " style="width: 75%; margin: 25px auto;">
          <div class="col-sm-12">
            <h1 class="pt-3 pb-2">{{'Contact us' | translate}}</h1>
          </div>
        
          <div class="col-sm-12 form-group">
            <div class="row row-gap">
              <div class="col-sm-12 column-gap">
                  <div class="">
                    <input type="text" class="form-control floating-input" placeholder=" "
                      onkeyup="this.setAttribute('value', this.value);" name="name"
                       autocomplete="off" required />
                    <span class="highlight"></span>
                    <label>{{'Name' | translate}}<sup>*</sup></label>
                    
                  </div>
                </div>
                <div class="col-sm-12 column-gap">
                    <div class="">
                      <input type="text" class="form-control floating-input" placeholder=" "
                        onkeyup="this.setAttribute('value', this.value);" name="name"
                         autocomplete="off" required />
                      <span class="highlight"></span>
                      <label>{{'eMail' | translate}}<sup>*</sup></label>
                      
                    </div>
                  </div>
                  <div class="col-sm-12 column-gap">
                    <div class="">
                      <input type="text" class="form-control floating-input" placeholder=" "
                        onkeyup="this.setAttribute('value', this.value);" name="name"
                         autocomplete="off" required />
                      <span class="highlight"></span>
                      <label>{{'Contact Number' | translate}}<sup>*</sup></label>
                      
                    </div>
                  </div>
                  <div class="col-sm-12 column-gap">
                    <div class="">
                      <input type="text" class="form-control floating-input" placeholder=" "
                        onkeyup="this.setAttribute('value', this.value);" name="name"
                         autocomplete="off" required />
                      <span class="highlight"></span>
                      <label>{{'Subject' | translate}}<sup>*</sup></label>
                      
                    </div>
                  </div>
                  <div class="col-sm-12 column-gap">
                    <label>{{'Comment' | translate}}</label>
                   <textarea class="form-control col-xs-12"></textarea>
                  </div>
              </div>
              <section id="pagination" class="pagination-area mt-1">
                <div class="d-flex">
                    <span class="mr-auto">&nbsp;</span>
                    <a><button type="submit" class="save-btn ml-4 mr-4">
                            {{'SUBMIT' | translate}}</button></a>
                </div>
        </section>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
               
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                        <!-- Tabs -->
                        <section id="tabs">
                            <div class="container">

                                <div class="address">
                                    <div class="row">
                                        <nav>
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                                    href="#nav-home" role="tab" aria-controls="nav-home"
                                                    aria-selected="true">APAC</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                                    href="#nav-profile" role="tab" aria-controls="nav-profile"
                                                    aria-selected="false">North America</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                                    href="#nav-contact" role="tab" aria-controls="nav-contact"
                                                    aria-selected="false">Middle East</a>

                                            </div>
                                        </nav>
                                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                aria-labelledby="nav-home-tab">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek Pvt. Ltd.</h5>
                                                            <P>148, Rajiv Gandhi Salai (OMR)</P>
                                                            <P>Okkiyam Thoraipakkam</P>
                                                            <P>Chennai - 600 097</P>
                                                            <P>Tel: +91 44 43449000, 39239000</P>
                                                            <P>Fax: +91 44 43449222</P>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek PTE. LTD.</h5>
                                                            <P>#13-02, Paya Lebar Square,</P>
                                                            <P>60 Paya Lebar Road, District 14,</P>
                                                            <P>Singapore- 409051.</P>
                                                            <P>Tel: +65- 6532 1120</P>
                                                            <P>Fax : +65-6532 1124</P>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek Pvt. Ltd.</h5>
                                                            <P>5th Floor, No. 780, BeiAn Road</P>
                                                            <P>Zhongshan District,</P>
                                                            <P>Taipei 10464, Taiwan</P>
                                                            <P>Tel: +886 2 85015201</P>
                                                            <p>Fax: +886 2 85015211</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek Pvt. Ltd.</h5>
                                                            <P>B- 702/03, 7TH FLOOR,</P>
                                                            <P>Bandra Kurla Complex</P>
                                                            <P>Bandra – East,Near Trade Centre,</P>
                                                            <P>Mumbai - 400051.</P>
                                                            <P>Tel. No. 022 26521808.</P>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek PTE. LTD.</h5>
                                                            <P>Unit 621, 6th Floor, Block A,</P>
                                                            <P>Kelana Centre Point,</P>
                                                            <P>No.3 Jalan SS7/19, Kelana Jaya</P>
                                                            <P>47301 Petaling Jaya</P>
                                                            <p>Selangor Darul Ehsan, Malaysia</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek Pvt. Ltd.</h5>
                                                            <P>Prestige Meridian II, 12th Floor</P>
                                                            <P>Unit 1202, #30, M.G. Road</P>
                                                            <P>Bangalore - 560 001</P>
                                                            <P>Tel: +91 80 25590997/25590996</P>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek Sdn Bhd</h5>
                                                            <P>Suite 316, KM 2 Jalan Tutong /Jalan</P>
                                                            <P>Laksaman Abdul Razak</P>
                                                            <P>Bandar Seri Begawan,</P>
                                                            <P>Brunei Darussalam</P>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                aria-labelledby="nav-profile-tab">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek Pvt. Ltd.</h5>
                                                            <P>B- 702/03, 7TH FLOOR,</P>
                                                            <P>Bandra Kurla Complex</P>
                                                            <P>Bandra – East,Near Trade Centre,</P>
                                                            <P>Mumbai - 400051.</P>
                                                            <P>Tel. No. 022 26521808.</P>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek PTE. LTD.</h5>
                                                            <P>Unit 621, 6th Floor, Block A,</P>
                                                            <P>Kelana Centre Point,</P>
                                                            <P>No.3 Jalan SS7/19, Kelana Jaya</P>
                                                            <P>47301 Petaling Jaya</P>
                                                            <p>Selangor Darul Ehsan, Malaysia</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                aria-labelledby="nav-contact-tab">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek Pvt. Ltd.</h5>
                                                            <P>B- 702/03, 7TH FLOOR,</P>
                                                            <P>Bandra Kurla Complex</P>
                                                            <P>Bandra – East,Near Trade Centre,</P>
                                                            <P>Mumbai - 400051.</P>
                                                            <P>Tel. No. 022 26521808.</P>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="address">
                                                            <h5>Bahwan CyberTek PTE. LTD.</h5>
                                                            <P>Unit 621, 6th Floor, Block A,</P>
                                                            <P>Kelana Centre Point,</P>
                                                            <P>No.3 Jalan SS7/19, Kelana Jaya</P>
                                                            <P>47301 Petaling Jaya</P>
                                                            <p>Selangor Darul Ehsan, Malaysia</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- ./Tabs -->
                    </div>
                    <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                        <div class="map">
                            <img src="./images/map-img.png" alt="image" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>