<table class="table  table-align-left">
    <tbody>
        <tr class="border-bottom">
            <td class="tendertable ">
                <span> {{'Payment Type' | translate}}</span> <br>
                <strong>{{bidBondDetails?.bbType}}</strong>
            </td>
            <td class="tendertable ">
                <span> {{'Valid Upto' | translate}}</span> <br>
                <strong>{{bidBondDetails?.bbValidUpto}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Fee Type' | translate}}</span> <br>
                <strong>{{bidBondDetails?.feeType}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'BB Fee' | translate}}</span> <br>
                <strong>{{bidBondDetails?.bbAmount}} AED</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Payable To' | translate}}</span> <br>
                <strong>{{bidBondDetails?.payableTo}}</strong>
            </td>
            <td class="tendertable ">
                <span>{{'Payable at' | translate}}</span> <br>
                <strong>{{bidBondDetails?.payableAt}}</strong>
            </td>
        </tr>                
    </tbody>
</table>  
