<!-- <a id="acollapse" href="javascript:jQuery('div .panel-collapse').collapse('hide'); jQuery('#acollapse').hide();jQuery('#aexpand').show();">{{'Collapse All' | translate}}</a>

<a id="aexpand" href="javascript:jQuery('div .panel-collapse').collapse('show'); jQuery('#aexpand').hide(); jQuery('#acollapse').show();" style="display: none;">{{'Expand All' | translate}}</a> -->

<a  class="btn-collapse">
    <span class="expand-all">{{'Expand All' | translate}}</span> 
    <span class="collapse-all"> {{'Collapse All' | translate}}</span>
    </a>