   
   <div class="container-fluid">
    <div class="container">

               <!-- --------------- breadcrumb ---------------- -->
               <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0 mt-0">
                    <li class="breadcrumb-item active" aria-current="page">{{'Auction Online Details' | translate}}</li>
                </ol>
            </nav>
   
       
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <div class="row">
                      <div class="col-sm-12">
                        <span class="ft-black">{{'Auction Online Details' | translate}}</span>
                      </div>
                  </div>
              
              </h4>
            </div>
            <div class="panel-body panel-body1 table-box ">
                <div class="table-responsive table-area p-4">
                    <table class="table  table-align-left">
                        <tbody>
                            <tr class="border-bottom">
                                <td class="tendertable " colspan="2">
                                    <span>{{'Floor Price' | translate}}</span> <br>
                                    <strong>508,000 AED</strong>
                                </td>
                                <td class="tendertable " colspan="2">
                                    <span>{{'Bid Incremental/Decremental Value' | translate}}</span> <br>
                                    <strong>1,000 AED</strong>
                                </td>
                                <td class="tendertable " colspan="2">
                                    <span>{{'Elaspse Time Intervel(Mins)' | translate}}</span> <br>
                                    <strong>15</strong>
                                </td>
                                <td class="tendertable " colspan="2">
                                    <span>	{{'Bid Auto Extn.(Mins)' | translate}}	</span> <br>
                                    <strong>60</strong>
                                </td>
                                <td class="tendertable " colspan="2">
                                    <span>{{'Auction Start Date' | translate}}</span> <br>
                                    <strong>30-Jul-2017</strong>
                                </td>
                                <td class="tendertable " colspan="2">
                                    <span>{{'Auction End Date' | translate}}</span> <br>
                                    <strong>30-Aug-2017
                                    </strong>
                                </td>
                            </tr>                          
                        </tbody>
                    </table>  
                    
                </div>
            
            </div>

            
          </div>

          <div class="d-flex">
            <div class="form-container">
              <div class="col-sm-12 col-md-12 pt-4">
                <h1 class="p-3">{{'Highest Bid 516,000 AED (Bahwan Engineering)' | translate}}</h1>
              </div>
      
              <div class="d-flex m-4">
                <div class="col-sm-3"><span>{{'Time Left' | translate}}: 01 Day 01.30:10</span></div>
                <div class="col-sm-2"><span>{{'No.of Bids' | translate}}: 8</span></div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">{{'Enter Your Bid' | translate}}:</div>
                        <div class="col-sm-5">
                            <input type="email"  class="form-control" />
                        </div>
                        <div class="col-sm-3">
                            <button  type="submit" class="save-btn"> {{'BID NOW' | translate}} </button>
                        </div>
                    </div>
                </div>
               
              </div>
            </div>
          </div>
               
    

          <section id="pagination" class="pagination-area mt-1">
            <div class="container">
                <div class="d-flex">
                <span class="mr-auto">&nbsp;</span>
                <a routerLink="/tenders-dashboard"><button  type="submit" class="clear-btn"> {{'BACK' | translate}} </button></a> 
                </div>
            </div>
        </section>
    </div>
</div>
