<div class="data-details">
    <div class="row ml-2 mr-2 pt-2 pb-2 border-top">
        <div class="col-sm-4">
            <span>{{'Vendor Invoice Number' | translate}}</span><br>
            <strong>{{invoiceDetails.invoiceNo}}</strong>
        </div>
        <div class="col-sm-4">
            <span>{{'Invoice Date' | translate}}</span><br>
            <strong>{{invoiceDetails.invoiceDate}}</strong>
        </div>
        <div class="col-sm-4">
            <span>{{'Final Payment' | translate}}</span><br>
            <strong>{{invoiceDetails.finalPayment}}</strong>
        </div>
    </div>

    <div class="row ml-2 mr-2 pt-2 pb-2 border-top even-row-bg">
        <div class="col-sm-4">
            <span>{{'Invoice Description' | translate}}</span><br>
            <strong>{{invoiceDetails.description}}</strong>
        </div>
        <div class="col-sm-4">
            <span>{{'Work Completed Date' | translate}}</span><br>
            <strong>{{invoiceDetails.workCompletedDate}}</strong>
        </div>
        <div class="col-sm-4">
            <span>{{'Payment Type' | translate}}</span><br>
            <strong>{{invoiceDetails.paymentType}}</strong>
        </div>
    </div>

    <div class="row ml-2 mr-2 pt-2 pb-2 border-top">
        <div class="col-sm-4">
            <span>{{'Invoice Amount (AED)' | translate}}</span><br>
            <strong>{{invoiceDetails.invoiceAmount}}</strong>
        </div>
        <div class="col-sm-4">
            <span>{{'VAT Amount (AED)' | translate}}</span><br>
            <strong>{{invoiceDetails.vatAmount}}</strong>
        </div>
        <div class="col-sm-4">
            <span>{{'Total Amount (AED)' | translate}}</span><br>
            <strong>{{invoiceDetails.totalAmount}}</strong>
        </div>
    </div>
</div>
